*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px black;
    justify-content: space-evenly;
    padding: 12px;
    margin: auto;
}
.sombra-vermelha{
    box-shadow: 0px 0px 12px red;
    
}
.sombra-azul{
    box-shadow: 0px 0px 12px rgb(16, 127, 179);
    
}
.sombra-amarelo{
    box-shadow: 0px 0px 12px rgb(240, 240, 5);
    
}